.container1 {
    background-color: yellow;

    flex-direction: row;
    margin-top: 75px;
    margin-right: 20px; 
	width: 1300px;
}
.capsule{
    margin-top: 75px;
    margin-left: 20px;
position: relative;
  width:550px;
  font-family: 'Sansita Swashed', cursive;

  float:left;
margin:40px;
margin-left: 20px;
}
.capsule img{
    width: 550px;
    display: inline-block;
    margin-right: 60px;
}
.image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  
  .capsule:hover .overlay {
    opacity: 1;
  }
  .capsule a {
      color: white;
  }
  .capsule a{
      padding: 60px;
  }
  .capsule a:hover {
    color:#EE82EE;
  }
  .overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 40px;
    text-align: center;
  }
  div{
    line-height: 20px
}